

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">CA Décembre</p>
              <p class="card-title">{{this.CAdec}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">CA Janvier</p>
              <p class="card-title">{{this.CAjan}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Evolution CA</p>
              <p class="card-title">{{this.evolutionCA}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Statistique</h5>
        <button type="submit" class="btn btn-primary btn-round" (click)='retour()'>Retour</button>
         <button type="submit" class="btn btn-primary btn-round" (click)='visualiser()'> Visualiser l'ensemble </button>
        <select [(ngModel)]="Selected"  (change)="selected($event)" class="selectForm">
      <option *ngFor="let item of liste" value="{{item.AR_Ref}}">{{item.AR_Design}}</option>  
    </select>
        <p class="card-category"></p>
      </div>
      <div class="card-body">
<div id="affichage">
<canvas id="myChart">
{{Chart}}
</canvas>
<br>

</div>
</div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> 
      </div>
    </div>
  </div>
</div>








