<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title"></h5>
        <p class="card-category"></p>
      </div>
      <div class="row">
      <div class="col-md-4">
      <button type="submit" class="btn btn-primary btn-round" (click)='visualiser(1)'> Statistique Client </button>
      </div>
      <div class="col-md-4">
      <button type="submit" class="btn btn-primary btn-round" (click)='visualiser(2)'> Statistique Article </button>
      <button type="submit" class="btn btn-primary btn-round" (click)='visualiser(4)'> Visualiser l'ensemble </button>
      </div>
      <div class="col-md-4">
      <button type="submit" class="btn btn-primary btn-round" (click)='visualiser(3)'> Statistique Lieu  </button>
      </div>
      </div>
    </div>
 </div>
</div>