#affichage
{
    display: block;
    width: auto;
    height:700px;
}
#color
{
    color: blue;
}
.card-title
{
    color:black;
    
}
.selectForm
{
    width: 200px;
    
}
.p{
    font-size:12px;
}
